body{
	background-color: $primario;
	font-family: $fuente;
	font-weight: $fuente-regular;
}

a{ 
	text-decoration: none;
	color:$enlace;
	font-weight: $fuente-bold;
}

h1{
	font-size: 1em;
	color:$texto;
	font-weight:$fuente-light-bold;
}

h3{
	font-weight: $fuente-bold;
	color:$texto;
}

@mixin mibanner($fondo){
	@if $fondo == juegos{
		background-image:url(../media/dragonage.jpg);
	}@else if $fondo == productos{
		background-image:url(../media/pacman.jpg);
	}@else if $fondo == reseñas{
		background-image:url(../media/oldies.jpg);		
	}@else if $fondo == index{
		background-image:url(../media/fondo.jpg);
	}@else{
		background-image:none;
		background:$gradiente;
	}
}

.index-banner{
    height:101vh; 
    background-repeat:no-repeat; 
    background-size:cover;
    background-position:center center; 
    @include mibanner (index);  
}


.juegos-banner{
	height:101vh; 
    background-repeat:no-repeat; 
    background-size:cover;
    background-position:center center;
    @include mibanner(juegos); 
}

.prod-banner{
	height:101vh; 
    background-repeat:no-repeat; 
    background-size:cover;
    background-position:center center;
    @include mibanner(productos); 
}

.blog-banner{
	height:101vh; 
    background-repeat:no-repeat; 
    background-size:cover;
    background-position:center center;
    @include mibanner(reseñas); 
}


@media all and (max-width: 768px){
	.index-banner{	
		background-image: url(../media/fondo.jpg);
        height:20vh; 
        background-repeat:no-repeat; 
        background-size:cover;
        background-position:center center; 
}
	
}
@media all and (max-width: 768px){
	.juegos-banner{	
		background-image: url(../media/dragonage.jpg);
        height:20vh; 
        background-repeat:no-repeat; 
        background-size:cover;
        background-position:center center; 
}
	
}
@media all and (max-width: 768px){
	.prod-banner{	
		background-image: url(../media/pacman.jpg);
        height:20vh; 
        background-repeat:no-repeat; 
        background-size:cover;
        background-position:center center; 
}
	
}
@media all and (max-width: 768px){
	.blog-banner{	
		background-image: url(../media/oldies.jpg);
        height:20vh; 
        background-repeat:no-repeat; 
        background-size:cover;
        background-position:center center; 
}
	
}

//////////////////////////////---MENU----//////////////////////////////////

.container-fluid{
	nav{
		background:$gradiente;
		font-weight: $fuente-bold;				
	}	
		.navbar-light .navbar-nav .nav-link{
 		 color:$texto-white;
  		}
  			.navbar .nav-item{
  			padding-left: 15px;
  			}
  			  .navbar-light .navbar-toggler{
  			   background-color:$primario;
  			   outline: none;
  			   } 
  				 	a{
  				   	margin:0px 15px 0px 15px;
  				   	padding:0px 10px 0px 10px;
  				 	}
}

//////////////////////------VIDEO------------//////////////////////

.row{
	p{
	text-align: center;
	font-weight:$fuente-regular;
	}
	}a{text-decoration:none;
		color:$fuente-bold;		
	}

.btn-primary{
	background-color:$fondo;
	border-color: $bordes; 
	color:$texto-white;
	&:hover{
		background-color:$fondo-dark;
	} 
	}

	//////////////////////-----About--------//////////////////////

@mixin about($size,$weight,$color){
	font-size: $size;
	font-weight: $weight;
	color:$color;	
}
.container-about{
	min-height:5vh;
  	margin:1rem; 
  	background-color: $secundario;
		@include about(1rem,$fuente-light-bold,$texto);
		& p{
			@extend p;
			font-weight:$fuente-regular;
			word-spacing:2.0;
			line-height:2;
			text-align:justify;
			& span{
				@include about(1rem,$fuente-bold,$texto);				
			}
	
		}
	
}
#nosotros{
	font-weight:$fuente-bold;
	font-size: 2rem;
	text-align:center;
}
.icon-joystick{
	text-align: center;
	font-size: 9rem;
}


.icon-about{
	font-size: 3rem;
	text-align: -moz-center;
	margin:50px; 
	max-width:95%;
	p{
	font-weight: $fuente-light-bold;
	font-size: 1rem;
	text-align: center;

	}

	

}


/////////////////////////--------CARDS---------//////////////////
.container{
	background:$fondo-dark;
	#ofertas{
		.producto{padding:5px;
			.card{
				.card-body{
					text-align: center;
					.card-title{
					height: 75px;						
					}
					.card-text{
							font-weight: $fuente-bold;							
				   }
				}.btn-primary{
					background-color:$fondo;
					border-color: $bordes;
				}
			}
		}
	}
}
////////////////////////------------------------------//////////////////////


  ///////////////////////--------Juegos/productos--------////////////////////////// 

.input-group{
	max-width: 25%;
}

button{
	.btn-secondary{
		background-color:$fondo-dark;
	}
	a{
		text-decoration:none;
		color:$texto-white;
		&:hover{
			text-decoration:none;
			color:$texto-white;
		} 
		
	}
}

.page-link{
	background-color:$fondo-dark;
	color:$texto-white;
	&:hover{
		background-color:$secundario;
		color:$texto;
	}

}

////////////////////////////--------CONTACTO-------///////////////
.container-formulario{
	background-color:$fondo-dark;
	max-width:98.5%;
	text-align: center;
	p{
		text-align: center;	
		margin-left: 1rem;	
		font-weight:$fuente-bold;
		font-size: 2rem;
		color:$primario;
	}   textarea{
		text-align: center;
	}
	input{
		text-align:center;
	}

	button{
		background-color:$fondo-dark;
		&:hover{
		background-color:$secundario;
		color:$texto-white;
		border-color:$fondo-dark;
		}  
	}   
}

.footer{	
	ul{
		li{text-align: center;
			a{
				text-decoration:none;
				margin-top: 4px;
				color:$texto-white;
			}
		}
	}

}

.icon i{
	font-size:2rem;
	color:$texto-white;
	text-align:center;
}

///////////////////////////////----MENU-RESEÑA-------//////////////////////
h3{
	font-weight:$fuente-light-bold;
	text-align: center;
	border:4px solid $fondo;
	width:100%;
	background-color:$secundario;
	}

.contenedor-resident{
	min-height:40vh;
	width: 100%;	 
		p{
			text-align: center;
		}	
}

.contenedor-filtro{
	text-align:end;			
}

@media all and (max-width: 768px){
	.input-group .form-control{
		width:30%;
	}
}
