$primario: #c7cad0;   //body//
$secundario:#9a96c3; //nosotros//
$fondo:#373440; //background-botones // 
$fondo-dark:#202531; //form//
$bordes:grey;
$gradiente:linear-gradient(to left,#152146,#2d6366);
$texto:#01070d;
$texto-white:white;
$enlace:#0b164f;
$fuente:'Montserrat', sans-serif;
$fuente-regular:400;
$fuente-italica:500;
$fuente-light-bold:600;
$fuente-bold:700;


























































 